
# Define the load balancer host
define host {
    use generic-host
    host_name load-balancer
    alias Load Balancer
    address load-balancer
}


# define host {
#   use           generic-host
#   host_name     server-a
#   alias         Server A
#   address       server-a 
# }

# define host {
#   use           generic-host
#   host_name     server-b
#   alias         Server B
#   address       server-b 
# }
